// PROJECTS
.m-projects {
    background: $content-bg-1;
}

@include respond(pc) {
    .m-projects {
        .wrap-images {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}
