$black: rgb(10, 10, 10);
$white: rgb(245, 245, 245);

$yellow: #fdc401;

$gray: #6e7377;

$orange: #e64e03;

$content-bg-1: #101417;
$content-bg-2: #12151c;
$content-bg-3: #101417;
$content-bg-4: #c49900;

$input-bg: #2a2d32;
$input-text: #1b1e25;

$footer-bg: #0e1215;
